@import "../../Assets/styles/_palette.scss";

.cart__container {
    display: flex;
    justify-content: center;
    border-top: 10px solid $clr-dark;
    padding-top: 30px;
}
.cart {
    width: 80%;
    margin: 7%;
    border-radius: 20px;
    background-color: $clr-light;
    padding-bottom: 1%;
    font-size: 1.2 rem;
    padding: 40px;

    &__product {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
    }

    &__count {
        display: flex;
        align-items: center;
    }

    &__total {
        text-align: right;
    }
}
