// everything that is reusable – buttons, navbars, cards...

@import "./core";

%button {
    &--main {
        border-radius: 8px;
        background-color: white;
        border: none;
        color: core.$clr-light;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
